* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Gill Sans';
}

#gameboard {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

#block {
    width: 30px;
    height: 30px;
    background-color: #904fda;

    position: relative;
    top: 15px;
    left: 15px;
}
