h1 {
    font-family: 'Gill Sans';
    text-align: center;
}

#gameboard {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

#block {
    width: 30px;
    height: 30px;
    background-color: #735096;

    position: relative;
    top: 15px;
    left: 15px;
}
